DATABASE_URL=
SESSION_ID=
REMOVEBG_KEY=
PREFIX=.
MODE=public
STATUSVIEW=true
ANTI_LINK=true
REJECTSCALLS=false
REPLY_STATUS=true
antidelete=true
BOT_NAME=SUBZERO V2
AutoReaction=false
OWNER_NUMBER=263719647303;Mr Frank
DL_MSG=Downloaded successfully
STATUS_MSG=Status seen by SubZero

